@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --primary-color: #019419;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--primary-color);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
    overflow: hidden;
}
/* FLOATING SOCAIL ICONS STARTS */
aside.floating-social-icons{
    position: fixed;
    left: 0;
    top: 300px;
    z-index: 1000;
}
aside.floating-social-icons a{
    font-size: 3rem;
    color: var(--primary-color);
}

/* FLOATING SOCAIL ICONS ENDS */
section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
}

.heading span{
    background: var(--primary-color);
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--primary-color);
    color:var(--primary-color);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background: var(--primary-color);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black);
}

.header .logo i{
    color:var(--primary-color);
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--primary-color);
    /* transition: all .5s; */
}
.header .navbar a.active{
    border-top: 2px solid #1fac40;;
    border-bottom: 2px solid #1fac40;;
}

.header .navbar a:hover{
    border-top: 2px solid #1fac40;;
    border-bottom: 2px solid #1fac40;;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--primary-color);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}
.header .icons div:hover{
    background: var(--primary-color);
    color:#fff;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:110%; right:-110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .search-form input{
    height:100%;
    width:100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color:var(--black);
    padding:0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color:var(--primary-color);
}

.header .shopping-cart{
    position: absolute;
    top:110%; right:-110%;
    padding:1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width:35rem;
    background: #fff;
}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin:1rem 0;
}

.header .shopping-cart .box img{
    height:10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top:50%; right:2rem;
    cursor: pointer;
    color:var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color:var(--primary-color);
}

.header .shopping-cart .box .content h3{
    color:var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color:var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding:1rem 0;
    text-align: center;
    color:var(--black);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin:1rem;
}

.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color:var(--light-color);
}

.header .login-form p a{
    color:var(--primary-color);
    text-decoration: underline;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../image/banner-bg2.png) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content div, .home .content h3{
    color:var(--black);
    font-size: 3rem;
}

.home .content div .static-text span{
    color:var(--primary-color);
}

.home .content p{
    color:var(--light-color);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: 1.8;
}

/* dynamic text writing */
.text-wrapper{
    display: inline-flex;
}
.text-wrapper .static-text{
    color: var(--black);
    font-weight: 400;
    text-transform: lowercase;
}
.text-wrapper .dynamic-texts{
    margin-left: 15px;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    text-transform: lowercase;
}
.dynamic-texts li{
    color: var(--black);
    list-style: none;
    font-weight: 500;
    position: relative;
    top: 0;
}

.dynamic-texts li span{
    position: relative;
}
.dynamic-texts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #DEDFDE;
    border-left: 2px solid var(--primary-color);
    animation: typing 4s steps(35) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.features .swiper-wrapper .box{
    padding:3rem 2rem;
    margin-bottom: 3rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .swiper-wrapper .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
    transform: scale(1.1);
}

.features .swiper-wrapper .box img{
    margin:1rem 0;
    height: 15rem;
}

.features .swiper-wrapper .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color:var(--primary-color);
}

.features .swiper-wrapper .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
    padding:1rem 0;
}

.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}

.categories .box-container .box{
    padding:3rem 2rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: var(--box-shadow);
    outline:var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.categories .box-container .box img{
    margin:1rem 0;
    height:15rem;
}

.categories .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}

.review .review-slider{
    padding:1rem;
}

.review .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
}

.review .review-slider .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.review .review-slider .box img{
    height:10rem;
    width:10rem;
    border-radius: 50%;
}

.review .review-slider .box p{
    padding:1rem 0;
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3{
    padding-bottom: .5rem;
    color:var(--black);
    font-size: 2.2rem;
}

.review .review-slider .box .stars i{
    color:var(--primary-color);
    font-size: 1.7rem;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background:#fff;
}

.blogs .box-container .box img{
    height:25rem;
    width:100%;
    object-fit: cover;
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a{
    color:var(--light-color);
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover{
    color:var(--black);
}

.blogs .box-container .box .content .icons a i{
    color:var(--primary-color);
    padding-right: .5rem;
}

.blogs .box-container .box .content h3{
    line-height: 1.8;
    color:var(--black);
    font-size: 2.2rem;
    padding:.5rem 0;
}

.blogs .box-container .box .content p{
    line-height: 1.8;
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
}

.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--primary-color);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--primary-color);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--primary-color);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--black);
    border-top: var(--border);
}

.footer .credit span{
    color:var(--primary-color);
}




/* sabi styles */
header a.logo img{
    position: relative;
    top: 5px;
    width: 50px;
    height: 50px;
}
section.intro-section{
    display: flex;
    margin: 5rem 0;
}
section.intro-section img{
    height: 300px;
    object-fit: cover;
    position: relative;
    left: 15rem;
}
section.intro-section div{
    background-color: var(--primary-color);
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.intro-section div h3{
    font-size: 2rem;
    color: #fff;
}
section.intro-section div p{
    color: ghostwhite;
    padding: 3.5rem;
    padding-left: 14rem;
    font-size: 1.5rem;
}
div.all-services-btn{
    text-align: center;
    margin: 5rem 0;
}
div.all-services-btn a{
    font-size: 1.5rem;
    background-color: var(--primary-color);
    padding: 2rem 3rem;
    color: #fff;
    font-weight: bold;
}
div.all-services-btn a:hover{
    background-color: #fff;
    color: var(--primary-color);
}

/* SERVICES PAGE STYLE */
section.services-wrapper article{
    display: flex;
    margin: 5rem 0;
    /* flex-wrap: wrap; */
    /* column-gap: 2rem; */
}
section.services-wrapper article:hover{
    transform: scale(1.01);
}
section.services-wrapper article:nth-child(even){
    flex-direction: row-reverse;
}
section.services-wrapper article img{
    height: 300px;
    object-fit: cover;
}
section.services-wrapper article div{
    flex: 4;
    background-color: #fff;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0 2rem;
}
section.services-wrapper article div h3{
    font-size: 3rem;
    border-bottom: 2px solid var(--primary-color);
}
section.services-wrapper article div p{
    padding-top: 2rem;
    font-size: 1.5rem;
}
.background-img-wrapper {
    background: #000 url(../image/farmers.jpg);
    color: #fff;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .color-overlay {
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    opacity: .6;
    position: absolute;
  }
  .background-img-wrapper h2 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    z-index: 1;
    text-align: center;
  }

  /* CONTACT PAGE STYLES STARTS */
  .contact-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../image/farmers.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.contact-header div.content p{
    color: #fff;
}
.contact-details-container{
    display: flex;
    gap: 3rem;
}
.contact-details-container div:nth-child(1){
    flex: 40%;
}

.contact-details-container div:nth-child(2){
    flex: 60%;
}
.contact-details-container div h2{
    font-size: 2.5rem;
    color: var(--black);
}
.contact-details-container div p{
    font-size: 1.4rem;
}
.contact-details-container a.contact-links{
    display: block;
    font-size: 1.5rem;
    color: #000;
    padding: 1rem 0;
}
.contact-details-container a i{
    color: var(--primary-color);
    padding-right: 1rem;
}
.social-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.social-icons a{
    font-size:3rem;
}
.social-icons a:hover{
    transform: translateY(-5px);
}
.contact-details-container form input,
.contact-details-container form textarea{
   display: block; 
   width: 100%;
   margin-bottom: 3rem;
   padding: 1.2rem;
}
.contact-details-container form button{
    background-color: var(--primary-color);
    color: #fff;
    padding: 1.2rem 3.5rem;
    font-size: 1.5rem;
}
  /* CONTACT PAGE STYLES ENDS */


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }
    
    section.intro-section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    section.intro-section img{
        left: 0;
        right: 0;
        margin-top: -50px;
    }
    section.intro-section div{
        margin: 1rem 2rem;
    }
    section.intro-section div h3{
        padding-top: 3rem;
    }
    section.intro-section div p{
        padding: 3rem;
        padding-top: 1rem;
        padding-bottom: 6rem;
    }

    /* for services page */
    .background-img-wrapper h2 {
        font-size: 40px;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

    /* SERVICES PAGE STYLE */
    section.services-wrapper{
        width: 90%;
        position: relative;
        left: 4rem;
    }
    section.services-wrapper article{
        flex-wrap: wrap;
        display: block;
    }
    
    section.services-wrapper article img{
        width: 100%;
    }
    .background-img-wrapper h2 {
        font-size: 30px;
    }

}

@media (max-width:485px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }
    .home .content div, .home .content h3{
        font-size: 2rem;
    }
    .text-wrapper .dynamic-texts{
        line-height: 25px;
    }

    /* CONTACT US PAGE */
    .contact-details-container{
        display: block;
    }
    
    .contact-details-container div:nth-child(2){
        margin-top: 4rem;
    }

}